<footer>
  <div class="links">
    <div class="links__item">
        <a href="https://github.com/Metanefrydia">
            <img src="./assets/images/icons/Github-white.svg" alt="Github" class="icon">
        </a>
    </div>
    <div class="links__item">
        <a href="https://www.linkedin.com/in/marta-gregula/">
            <img src="./assets/images/icons/Linkedin.svg" alt="Linkedin" class="icon">
        </a>
    </div>
    <button class="links__item" (click)="openResume()">Resumé</button>
  </div>
  <h5>© Marta Greguła 2021</h5>
</footer>
